<a href="https://colab.research.google.com/github/deebakars/Deebakar/blob/main/DBMS_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**SQL**

In [ ]:
print("Welcome to session")

Welcome to session

In [ ]:
%load_ext sql

In [ ]:
%%sql
sqlite:///test.db

'Connected: @test.db'

In [ ]:
%%sql
Create table sample (column1 int,column2 varchar)

 * sqlite:///test.db
Done.

[]

In [ ]:
%%sql
Select * from sample

 * sqlite:///test.db
Done.

[]

In [ ]:
%%sql
Create table Subject
(
  Sub_id int,
  Sub_Name varchar(20)
)

 * sqlite:///test.db
Done.

[]

In [ ]:
%%sql
Select * from Subject

 * sqlite:///test.db
Done.

[(1, 'English'), (2, 'Math'), (3, 'Science')]

In [ ]:
%%sql
insert into sample values (1,'abc'),(2,'abcd')

 * sqlite:///test.db
2 rows affected.

[]

In [ ]:
%%sql
insert into Subject Values(3,'Science')

 * sqlite:///test.db
1 rows affected.

[]

In [ ]:
%%sql
select * from sample

 * sqlite:///test.db
Done.

[(1, 'abc'), (2, 'abcd')]

In [ ]:
%%python3

import sqlite
conn = sqlite.connect('Company.db')
conn.execute('''
Create Table Department
(
  Code Int,
  Name nvarchar(100),
  Buget nvarchar(100)
);'''
)

Traceback (most recent call last):
  File "<stdin>", line 2, in <module>
ModuleNotFoundError: No module named 'sqlite'

CalledProcessError: ignored

# New Section

# New Section