<a href="https://colab.research.google.com/github/deebakars/Deebakar/blob/main/PYTHON_session_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hellp")

hellp

In [ ]:
def add(a, b): 
	"""Return gcd of the given arguments.

	a -- blah blah blah
	b -- blah blah blah blah
	"""
	return a + b
print(add.__doc__)

Return gcd of the given arguments.

	a -- blah blah blah
	b -- blah blah blah blah

In [ ]:
import keyword	 		# This statement is used to import keyword module.
print(keyword.kwlist)	# kwlist contains all the keywords of Python

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
a = 10 # This is an assignment statement
b = 10 # This is an assignment statement
print(a + b) # a + b is an expression and print(a + b) is a statement

20

In [ ]:
a = -7 
print(type(a)) # will print output as follows <class 'int'>

<class 'int'>

In [ ]:
a = 3.0
print(type(a)) # will print output as follows <class 'in

<class 'float'>

In [ ]:
a = 2 + 3j # It is important to note that there should not be any space between 3 and j
print(type(a)) # will print output as follows

<class 'complex'>

In [ ]:
name = input("Enter your Name: ")
print("User Name:", name)

Enter your Name: Deebakar Sahi
User Name: Deebakar Sahi

In [ ]:
a= int(input("Enter an integer :"))
print(a)

Enter an integer :10
10

In [ ]:
a = 10
b = 50
print("A value is", a, "and", "B value is", b) # will print output as follow

A value is 10 and B value is 50

In [ ]:
a = 10
b = 20
str = "Hello"
print("The value of a = %d, b = %d and str = %s" %(a, b, str))

The value of a = 10, b = 20 and str = Hello

In [ ]:
a = 5 # variable a now refers to Integer data type
print("  a is of  ", type(a))
a = 90.45 # variable a now refers to Float data type
print("  a is of  ", type(a))
a = "India"  # variable a now refers to String data type
print("  a is of  ", type(a))
a = [5, 90.45, "India"]  # variable a now refers to List data type
print("  a is of  ", type(a))

  a is of   <class 'int'>
  a is of   <class 'float'>
  a is of   <class 'str'>
  a is of   <class 'list'>

In [ ]:
# 1. Using single quotes (' ')
str = 'Welcome To Python World'
print(str)# will print output as follows

Welcome To Python World

In [ ]:
sentence =  "Welcome to Python's world"
print (sentence) # will print output as follows

Welcome to Python's world

In [ ]:
list2 = [4, 5, "hello"]
print(list2[1]) # prints the value present at 1st index in list2

5

In [ ]:
list2 = [4, 5, "hello"]
print(list2[2][0]) # prints the value present at 1st index in list2

h

In [ ]:
l = [1, 4, 5, 7, 4, 15]
print( l[2:6])

[5, 7, 4, 15]