<a href="https://colab.research.google.com/github/deebakars/Deebakar/blob/main/Session_2_ControlFlow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
num = int(input("Enter a number: "))
if (num % 3 == 0):
  print("Given number %d is divisible by 3" %num) # Notice the Indentation
print("End of program")

Enter a number: 2
End of program

In [4]:
marks=80
distinction_marks=75
if(marks > distinction_marks):
	print("User secured distinction")
else:
	print("User did not secure distinction")

User secured distinction

In [6]:
# if-elif statement example

letter = (input(" Enter a Character"))

if letter == 'B':
  print("letter is B")

elif letter == "C":
  print("letter is C")

elif letter == "A":
  print("letter is A")

else:
  print("letter isn't A, B or C")

 Enter a CharacterZ
letter isn't A, B or C

In [7]:
num=1
while (num <=5):
  print("num :%d" %num)
  num= num+1

num :1
num :2
num :3
num :4
num :5

In [8]:
n = 10

# initialize sum and counter
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1    # update counter

# print the sum
print("The sum is", sum)

The sum is 55

In [9]:
# Python program to illustrate
# while loop
count = 0
while (count < 3):
	count = count + 1
	print("Hello Students")

Hello Students
Hello Students
Hello Students

In [10]:
counter = 0

while counter < 3:
    print("Inside loop :", counter)
    counter = counter + 1
else:
  print("Inside else")

Inside loop : 0
Inside loop : 1
Inside loop : 2
Inside else

In [11]:
counter = 0

while counter < 3:
    print("Inside loop :", counter)
    counter = counter + 1

Inside loop : 0
Inside loop : 1
Inside loop : 2

In [12]:
counter = 0

while counter < 3:
    print("Inside loop :", counter)
    counter = counter + 1

print("Inside else")

Inside loop : 0
Inside loop : 1
Inside loop : 2
Inside else

In [13]:
num1 = 17  
num2 = -12  
   
while num1 > 5 and num2 < -5 : # multiple conditions in a single while loop  
    num1 -= 2  
    num2 += 3  
    print( (num1, num2) )

(15, -9)
(13, -6)
(11, -3)

In [15]:
items = "Deebakar"
index = 0            
for item in items:   
	print(index, item)
	index += 1

0 D
1 e
2 e
3 b
4 a
5 k
6 a
7 r

In [16]:
# List of numbers
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]

# variable to store the sum
sum = 0

# iterate over the list
for val in numbers:
    sum = sum+val

print("The sum is", sum)

The sum is 48

In [17]:
# A simple for loop example

fruits = ["apple", "orange", "kiwi"]

for fruit in fruits:
  print(fruit)

apple
orange
kiwi

In [18]:
marks=[50,60,70,75,80]
print(" Display complete  list")

for num in marks:
  print(num+1)

 Display complete  list
51
61
71
76
81

In [19]:
for i in range(6):
	print(i)

0
1
2
3
4
5

In [20]:
for i in range(1, 6):
	print(i)

1
2
3
4
5

In [21]:
for val in range(0, 11):
  print(val)

0
1
2
3
4
5
6
7
8
9
10

In [22]:
digits=[1,2,3,4]
for item in digits: 
	print(item)
else:
	print("no items left")

1
2
3
4
no items left

# New Section

# New Section

In [23]:
def nothing():
  pass
print("function dose not contain any Body")

function dose not contain any Body