<a href="https://colab.research.google.com/github/deebakars/Deebakar/blob/main/Session_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello World")

Hello World

In [2]:
list1 = [1, 2, "one", "hi"]
print(list1) # will print output as follows

[1, 2, 'one', 'hi']

In [4]:
list2 = [4, 5, "hello"]
print(list2[2][1]) # prints the value present at 1st index in list2

e

In [5]:
l = [1, 4, 5, 7, 4, 15]
print( l[2:4])

[5, 7]

In [6]:
l = [1, 4, 6, 22, 44, 12, 55, 66]
print(l[3:-3])

[22, 44]

In [7]:
l = [1, 4, 6, 22, 44, 12, 55, 66]
print(l[3:])

[22, 44, 12, 55, 66]

In [8]:
l = [1, 4, 6, 22, 44, 12, 55, 66]
l[3:]

[22, 44, 12, 55, 66]

In [9]:
list1 = [1, 2, 'one', 'hi']
list2 = [4, 5, 'hello']
print(list1 + list2) # will print output as follows

[1, 2, 'one', 'hi', 4, 5, 'hello']

In [10]:
list2 = [4, 5, 'hello']
print(2 * list2) # will print output as follows

[4, 5, 'hello', 4, 5, 'hello']

In [11]:
list2 = [4, 5, 'hello']
print(2 * list2) # will print output as follows

[4, 5, 'hello', 4, 5, 'hello']

In [12]:
list1 = [23, 5.65, ["A", 34.23], "India"]
print(list1[2] [1] )

34.23

In [13]:
chars = ['a', 'b', 'c', 'd']
chars[3] = 'xyz'
print(chars) # will print output as follows

['a', 'b', 'c', 'xyz']

In [14]:
chars = ['a', 'b', 'c', 'd']
chars.append("abcd")
print(chars) # will print output as follows

['a', 'b', 'c', 'd', 'abcd']

In [15]:
chars = ['a', 'b', 'c', 'd']
chars.append( ['e', 'f'])  # This will append the list ['e', 'f'] as the last item to the chars list.  
print(chars) # will print output as follows

['a', 'b', 'c', 'd', ['e', 'f']]

In [16]:
chars = ['a', 'b', 'c', 'd']
list2 = [1, 2, 3]
chars.extend(list2)
print(chars) # will print output as follows

['a', 'b', 'c', 'd', 1, 2, 3]

In [17]:
myset = set()
print(myset) # will print empty set.
print(type(myset)) # will print type of myset.

set()
<class 'set'>

In [18]:
myset1 = {1, 2, 3} 
print(myset1) # will print the elements of a set.
print(type(myset1)) # will print type of myset1.

{1, 2, 3}
<class 'set'>

In [19]:
chars = {'a', 'b', 'c', 'd'}
chars[3] = 'xyz'
print(chars)

TypeError: ignored

In [23]:
chars.add("F")
print(chars)

{'d', 'b', 'F'}

In [24]:
print(chars.pop())

d

In [25]:
tuple1 = tuple() # Creating an empty tuple using tuple() function
print(tuple1) # Printing tuple1

()

In [26]:
mytuple = (1, 2, 3, "Data types") # mytuple = 1, 2, 3, "Data types" will also work.
print(mytuple)
print(type(mytuple))

(1, 2, 3, 'Data types')
<class 'tuple'>

In [27]:


mytuple = (1,)
print(mytuple) # Will print tuple (1,) 
print(type(mytuple)) # will print output as follows

(1,)
<class 'tuple'>

In [28]:
tuple1 = ("hi", "hello", 55, 66)
print(tuple1[0]) # Printing the element at the  0th index of the tuple, tuple1

hi

In [29]:
tuple1 = ("hi", "hello", 55, 66)
print(tuple1[-2]) # Printing the element at the  0th index of the tuple, tuple1

55

In [30]:
tuple1 = ('hi', 'hello', 55, 66) # Creating a tuple, tuple1
print(tuple1) # Printing tuple1 , output contains values enclosed in parentheses indicating a tuple
print(type(tuple1)) # Printing the type of tuple1

list1 = list(tuple1) # Converting the tuple1 into a list using list() function.
print(list1) # Printing list1 , output contains values enclosed in square brackets indicating a tuple
print(type(list1))

('hi', 'hello', 55, 66)
<class 'tuple'>
['hi', 'hello', 55, 66]
<class 'list'>

In [31]:
tuple1 = ('hi', 'hello', 55, 66) # Creating a tuple, tuple1
print("Given tuple :",tuple1) 
list1 = list(tuple1) # Converting the tuple to a list using built-in list() function.
print("After conversion of tuple to list :",list1) 
list1[2] = "fifty five"  # Updating the value of element at 2nd index. This does not result in an error as the lists are mutable.
print("List after changing the element :",list1) 
tuple1 = tuple(list1)  # Converting the list back to tuple using the built-in tuple() method.
print("After converting list into tuple :",tuple1) # Printing the final tuple with the updated element

Given tuple : ('hi', 'hello', 55, 66)
After conversion of tuple to list : ['hi', 'hello', 55, 66]
List after changing the element : ['hi', 'hello', 'fifty five', 66]
After converting list into tuple : ('hi', 'hello', 'fifty five', 66)

In [32]:
# 1. Using built-in dict() function.
mydict = dict() # Creating an empty dictionary called mydict
print(type(mydict)) # Printing data type of mydict.
print(mydict)  # Prints empty dictionary.

<class 'dict'>
{}

In [33]:
mydict = dict(Hyderabad = 20, Delhi = 30) # A dictionary with two key pairs is created.
print(mydict) # Prints the dictionary

{'Hyderabad': 20, 'Delhi': 30}

In [34]:
mydict = {1:"one", 2 :"two", 3:"three"}  # Create a dictionary with three key-value pairs.
print(mydict) # Printing the dictionary
print(type(mydict)) # will print output as follows

{1: 'one', 2: 'two', 3: 'three'}
<class 'dict'>

In [35]:
# 1. Using the keys of the dictionary.
capitals = {"U.S.A" : "Washington D.C", "India" : "New Delhi", "Nepal" : "Khatmandu"} # Creating a dictionary, 
print(capitals["India"]) # Printing the value with the key "India" i.e. "New Delhi".
print(capitals["Nepal"]) # Printing the value with the key "Nepal" i.e. "Khatmandu".

New Delhi
Khatmandu

In [37]:
capitals = {"U.S.A" : "Washington D.C", "India" : "New Delhi", "Nepal" : "Khatmandu"} # Creating a dictionary, 
print(capitals["India"]) # Printing the value with the key "India" i.e. "New Delhi".
print(capitals["U.S.A"]) # Since the key "Australia" is not present, it re

New Delhi
Washington D.C

In [38]:
capitals = {"U.S.A" : "Washington D.C", "India" : "New Delhi", "Nepal" : "Khatmandu"} # Creating a dictionary, 
print(capitals.get("India")) # Printing the value with the key "India" i.e. "New Delhi".
print(capitals.get("Nepal")) # Printing the value with the key "Nepal" i.e.

New Delhi
Khatmandu